<div class="navContainer">
  <nav>
    <div class="logo2"></div>
  </nav>
</div>

<div class="logWrapper">
  <div ng-click="logout()" class="logout">Logout</div>
</div>
<div class="userWrapper">
  <a href="#/user"><div class="userProf">My Photos</div></a>
</div>
<div class="banner">
  <div class="tiy"></div>
</div>
<div class="present">
  <h4>Presents...</h4>
</div>

<div class="row photoWrapper">
    <div class="photo large-4 columns" ng-repeat="p in photoList">
      <img src="{{p.image_url}}" alt="" id="pic1">
    </div>
</div>