@import 'login';
@import 'home';
@import 'user';

body {
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
  overflow-x: hidden;
}

h1 {
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
}

h4 {
  font-family: "Bangers", cursive !important;
}

button {
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
}

input {
  letter-spacing: 5px;
}

a {
  color: black;

  &:hover {
    color: black;
  }
}

.photo {
  margin-bottom: 30px;
  padding: 15px;
  border: 3px solid black;
  cursor: pointer;
}
