@import 'login';
@import 'home';

body {
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
  overflow-x: hidden;
}

h1 {
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
}

h2 {
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
}

h4 {
  font-family: "Bangers", cursive !important;
}

button {
  font-family: "Bangers", cursive;
  letter-spacing: 5px;
}

input {
  letter-spacing: 5px;
}