<div class="loginWrapper">
  <header></header>

  <form ng-submit="addUser(user)">
    <div class="row">
      <div class="large-6 large-offset-3 columns">
        <label>
          <input type="text" class="loginField" placeholder="Username" ng-model="user.username" required>
        </label>
        <label>
          <input type="text" class="loginField" placeholder="Email" ng-model="user.email" required>
        </label>
        <label>
          <input type="password" class="loginField" placeholder="Password" ng-model="user.password" required>
        </label>

        <button class="signupBtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>